:root {
  --sidebar-logo-background: #2d3748;
}
/**
 * 暗黑主题
 */
html.dark {
  --sidebar-logo-background: rgb(0 0 0 / 20%);
}

$sidebar-logo-background: var(--sidebar-logo-background); // 侧边栏 Logo 背景色

$sidebar-width: 200px; // 侧边栏宽度
$sidebar-width-collapsed: 64px; // 侧边栏收缩宽度
$navbar-height: 50px; // 导航栏高度
